{% extends "base.html" %} {% block window %}
<div class="container">

    <div class="jumbotron jumbo-gradient" style="position:static;">
        <h1 class="display-3">
            <i class="fas fa-circle-notch" id="flow" style="font-size:168px;"></i>
        Begin your WorkFlow</h1>
        <p class="lead">Welcome <strong>{{request.user}}</strong>! Get started with common business activities</p>
        <hr class="my-2">
        <p>Quick links to the most frequent actions and get a visual overview of a typical workflow.</p>

    </div>
    <style>
    @keyframes load{
        from{ 
            color: #fff;
            };
        to{ 
            color: #007bff;
        };
    }

    #flow{
        color: #007bff;
        animation: load;
        animation-duration:2s;
        transition-duration: 1s;
        transition-property:transform;
    }
    #flow:hover{
        transform: rotate(360deg);
    }

    .workflow-img{
        color: #007bff;
        padding: 5px;
    }
    .workflow-label{

    }

    .workflow-widget{
        display: flex;
        flex-direction: row;
        border: 1px solid #ccc;
        padding: 5px;
        max-width: 300px;
        min-width: 300px;
        margin: 10px;
        box-shadow: 5px 15px 30px;
    }

    .workflow-btn{
        border: 0px;
        background-color: white;
        padding: 5px;
        float:right;
    }

    .workflow-link{
        text-decoration: none;
    }

    .workflow-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
    <div class="workflow-container">
    
        
        <div class=" workflow-widget">
            <div class="workflow-img">
                <a href="/inventory/">
                    <i class="fas fa-warehouse" style="font-size:96px;"></i>
                </a>
            </div>
            <div class="workflow-label">
                <h6>Inventory<span class="dropdown">
                                <button class="workflow-btn " data-toggle="dropdown"     
                                        type="dropdown" id="planner">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'inventory:order-create' %}">Create Order</a>
                                    <a class="dropdown-item" href="{% url 'inventory:warehouse-list' %}">Manage Warehouses</a>
                                    <a class="dropdown-item" href="{% url 'inventory:supplier-list' %}">Manage Vendors</a>
                                    <a class="dropdown-item" href="{% url 'inventory:product-create' %}">Create product</a>
                                    <a class="dropdown-item" href="{% url 'inventory:config' pk=1%}">Inventory Configuration</a>
                                </div>
                            </span></h6>
                <hr>
                <p>Manage Stock within your business</p>
            </div>
        </div>
        <div class=" workflow-widget">
            <div class="workflow-img">
                <a href="/invoicing/">
                    <i class="fas fa-cash-register" style="font-size:96px;"></i>
                </a>
            </div>
            <div class="workflow-label">
                <h6>Sales<span class="dropdown">
                            <button class="workflow-btn " data-toggle="dropdown"     
                                        type="dropdown" id="planner">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'invoicing:customers-list' %}">Manage  Customers</a>
                                    <a class="dropdown-item" href="{% url 'invoicing:create-invoice' %}">Create  Invoice</a>
                                    <a class="dropdown-item" href="{% url 'invoicing:create-quotation' %}">Create Quotation</a>
                                    <a class="dropdown-item" href="{% url 'invoicing:config' pk=1 %}">Sales Configuration</a>
                                </div>
                        </span></h6>
                <hr>
                <p>Track Interactions with your customers</p>
            </div>
        </div>
    
    </div>

</div>
{% endblock %}