{% load static %}

<style>
    a.nav-link{
        background-color: "#07f"
    }
</style>
<script>
function inIFrame(){
    return window.top !== window.self;       
}

$(document).ready(function(){
    if(inIFrame()){
        $("#navbar").hide();
        $("#footer").hide();
    }
})
</script>

<nav class="navbar navbar-expand-sm bg-light" id="navbar" >
        <ul class="navbar-nav ">
            <!--{% url 'base:workflow' %}-->
            <a class="navbar-brand" href="/base/workflow"  >
                <img width='30' height='30' src="{% static 'common_data/images/logo.png' %}" alt="">
            </a>
            
            <li class="nav-item" id='sales'>
                <a class="nav-link" href="{% url 'invoicing:home' %}">
                    <i class="fas fa-cash-register" style="font-size:24;"></i> Sales
                </a>
            </li>
            <li class="nav-item" id="inventory">
                <a class="nav-link" href="{% url 'inventory:home' %}">
                    <i class="fas fa-warehouse" style="font-size:24;"></i> 
                    Inventory
                </a>
            </li>
        </ul>
</nav>